body {
  background-color: #3858C7;
  height: 95vh;
}

#root, .App {
  height: 100%;
}

.header {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #C7A738;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.home-page {
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.home-page-text {
  text-align: center;
  background-color: #38C75F;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  color: #A22E82;
}

.login-prompt {
  color: #3858C7;
}

.error {
  color: red;
}

.profile-page {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 60px;
  width: 140px;
  height: 30px;
  font-size: 100%;
  background-color: red;
  border: 3px solid black;
  border-radius: 10px;
}

.edit-button {
    position: absolute;
    top: 50px;
    right: 60px;
    width: 140px;
    height: 30px;
    font-size: 100%;
    background-color: yellow;
    border: 3px solid black;
    border-radius: 10px;
}