body {
  background-color: #3858C7;
  height: 95vh;
}

#root, .App {
  height: 100%;
}

.header {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #C7A738;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.home-page {
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.home-page-text {
  text-align: center;
  background-color: #38C75F;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  color: #A22E82;
}

.login-prompt {
  color: #3858C7;
}

.login-page {
  display: flex;
  height: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  padding-top: 5px;
  background-color: #38C75F;
}

.login-form h2 {
  text-align: center;
}

.login-form label {
  align-self: end;
  margin-bottom: 20px;
  font-weight: 600;
}

.login-form label input {
  margin-left: 10px;
  border-radius: 5px;
}

.login-form button {
  align-self: center;
  width: 70%;
  border-radius: 10px;
  padding: 5px 0px 5px 0px;
  font-weight: 600
}

.error {
  color: red;
  margin-top: 0px;
  font-weight: 650;
}

.profile-container {
  height: auto;
  background-color: #C738A0;
}

.profile-page {
  position: relative;
  height: 100%;
}

.attempt-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-row-gap: 20px;
  justify-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.attempt-card {
  font-size: 1em;
  text-align: center;
  background-color: #C7A738;
  border-radius: 10px;
  padding: 1rem;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 60px;
  width: 140px;
  height: 30px;
  font-size: 100%;
  background-color: red;
  border: 3px solid black;
  border-radius: 10px;
}

.edit-button {
    position: absolute;
    top: 50px;
    right: 60px;
    width: 140px;
    height: 30px;
    font-size: 100%;
    background-color: yellow;
    border: 3px solid black;
    border-radius: 10px;
}